!!!
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title PokeBattle
    link(rel="stylesheet", href="/css/vendor.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans', rel='stylesheet', type='text/css')
  body
    #navigation
    #content
      #header
        h1 pokebattle
        .user-info
          .login-links
            span.login.fake_link(data-toggle="modal", data-target="#login-modal") Login
            |  / 
            span.register.fake_link(data-toggle="modal", data-target="#register-modal") Register
          .greetings
      #main-section.clearfix
        .window.chat_window.hidden
          .chat.half_width
          .main_buttons.half_width
            .section
              .button.big.find_battle
                span.glyphicon.glyphicon-globe
                |  Find battle
              p Format:
              .dropdown
                .select.select-format(data-toggle = "dropdown")
                ul.dropdown-menu.format-dropdown(role = "menu")
                  li
                    a.select-format-dropdown-item(data-format="xy") Pokebank XY
                  li
                    a.select-format-dropdown-item(data-format="bw") Pokemon BW
              p Select a team:
              .dropdown
                .select.select-team(data-toggle = "dropdown")
                  | Your team
                ul.dropdown-menu.team-dropdown(role = "menu")
            .section
              .button.teambuilder_button
                span.glyphicon.glyphicon-pencil
                |  Teambuilder
        #teambuilder-section.window.hidden
    #login-modal.modal.hide(aria-hidden="true", data-server-event="login")
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
        h3 Login to PokeBattle
      .modal-body
        .form-errors.alert.alert-error.hidden
        form.form-horizontal
          .control-group
            label.control-label(for="login-email-input") Email
            .controls
              input#login-email-input(type="text", placeholder="Email", data-key="email")
              span.help-inline
          .control-group
            label.control-label(for="login-password-input") Password
            .controls
              input#login-password-input(type="password", placeholder="Password", data-key="password")
              span.help-inline
      .modal-footer
        button.btn.btn-primary.modal-submit Sign in
        button.btn(data-dismiss="modal", aria-hidden="true") Close
    #register-modal.modal.hide(aria-hidden="true", data-server-event="register")
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
        h3 Register for PokeBattle
      .modal-body
        .form-errors.alert.alert-error.hidden
        form.form-horizontal
          .control-group
            label.control-label(for="register-username-input") Username
            .controls
              input#register-username-input(type="text", placeholder="Username", data-key="username")
              span.help-inline
          .control-group
            label.control-label(for="register-email-input") Email
            .controls
              input#register-email-input(type="text", placeholder="Email", data-key="email")
              span.help-inline
          .control-group
            label.control-label(for="register-password-input") Password
            .controls
              input#register-password-input(type="password", placeholder="Password", data-key="password")
              span.help-inline
          #register-confirm-password.control-group.hidden
            label.control-label(for="confirm-password-input") Confirm Password
            .controls
              input#confirm-password-input(type="password", placeholder="Confirm Password")
              span.help-inline
      .modal-footer
        button.btn.btn-primary.modal-submit Register
        button.btn(data-dismiss="modal", aria-hidden="true") Close
    script(type="text/javascript").
      var Generations = !{JSON.stringify(GenerationJSON)}
    if local
      :coffeescript
        @PokeBattle ?= {}
        @PokeBattle.local = true
    script(src='/js/vendor.js')
    script(src='/js/templates.js')
    script(src='/js/app.js')
