!!!
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    != css('main')
    != js('vendor')
    != js('client')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Mono', rel='stylesheet', type='text/css')
  body
    #header
      h1 pokebattle
      ul.nav
        li.active.tab.fake_link(data-tab-for="#main-section") Chat
        li.tab.fake_link(data-tab-for="#teambuilder-section") Teambuilder
        li.login.fake_link Login
    #content
      #main-section.clearfix
        .chat.half_width
        .battle.half_width
        .main_nav.half_width
          .section
            .team
            .button.big.find_battle
              span.glyphicon.glyphicon-globe
              |  Find battle
          .section
            .button.teambuilder
              span.glyphicon.glyphicon-pencil
              |  Teambuilder
      #teambuilder-section
    script(type="text/javascript").
      var PokemonData = !{JSON.stringify(PokemonData)}
      var MoveData = !{JSON.stringify(MoveData)}
      var ItemData = !{JSON.stringify(ItemData)}
    script(src="https://login.persona.org/include.js")
