!!!
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    link(rel="stylesheet", href="/css/vendor.min.css")
    link(rel="stylesheet", href="/css/main.css")
    script(src='/js/vendor.js')
    script(src='/js/templates.js')
    script(src='/js/app.js')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans', rel='stylesheet', type='text/css')
  body
    #navigation
    #content
      #header
        h1 pokebattle
        .user-info
          .login.fake_link Login
          .greetings
      #main-section.clearfix
        .window.chat_window.hidden
          .chat.half_width
          .main_buttons.half_width
            .section
              .team
              .button.big.find_battle
                span.glyphicon.glyphicon-globe
                |  Find battle
            .section
              .button.teambuilder
                span.glyphicon.glyphicon-pencil
                |  Teambuilder
      #teambuilder-section
    script(type="text/javascript").
      var PokemonData = !{JSON.stringify(PokemonData)}
      var MoveData = !{JSON.stringify(MoveData)}
      var ItemData = !{JSON.stringify(ItemData)}
    if local
      :coffeescript
        @BattleTower ?= {}
        @BattleTower.local = true
    script(src="https://login.persona.org/include.js")
