!!!
html
  head
    != css('main')
    != js('vendor')
    script(src='http://cdn.sockjs.org/sockjs-0.3.min.js')
    != js('client')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Mono', rel='stylesheet', type='text/css')
  body
    #header
      h1 pokebattle
      ul.nav
        li.active.fake_link Chat
        li.fake_link Teambuilder
    #content
      .clearfix
        .chat.left.half_width
        .battle.right.half_width
      .builder
    script(type="text/javascript").
      var PokemonData = !{JSON.stringify(PokemonData)}
      var MoveData = !{JSON.stringify(MoveData)}
      var ItemData = !{JSON.stringify(ItemData)}
