!!!
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title PokeBattle
    link(rel="stylesheet", href="/css/vendor.min.css")
    link(rel="stylesheet", href="/css/main.css")
    style.
      body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: table;
      }
      #pokeball-container {
        width: 50%;
        margin: 0 auto;
        text-align: center;
      }
      form {
        width: 500px;
        margin: 0 auto;
        padding-bottom: 159px; /* The Pokeball height */
      }
      h1 {
        margin-top: 10px;
        float: none;
        text-align: center;
      }
      .content {
        display: table-cell;
        vertical-align: middle;
      }
      .help-inline {
        font-size: .8em;
      }
  body
    .content
      #pokeball-container
        img(id = "image", src="http://puu.sh/47VAG/0e969ba887.png")
      h1 PokeBattle
      form.form-horizontal(action="/subscribe", method="post")
        if messages.length > 0
          p.alert.alert-info= messages.join(', ')
        if errors.length > 0
          p.alert.alert-error= errors.join(', ')
        .control-group
          label.control-label(for="subscribe") Email
          .controls
            input#subscribe(type="text", name="email", placeholder="Email")
            span.help-inline We won't spam, promise.
        .control-group
          .controls
            button(type="submit") Notify me upon release
    script(src='/js/vendor.js')
    script.
      var rotation = 10; // degrees
      var radius = 155 / 2;
      var xOffset = rotation / 360 * 2 * Math.PI * radius;

      function fn() {
          move("image")
              .rotate(rotation).duration(".2s").ease('ease-in-sine').then()
                  .rotate(- 2 * rotation).duration(".3s").ease('ease-in-sine').then()
                      .rotate(rotation).duration(".2s").ease('ease-in-sine')
                      .pop()
                  .pop()
              .end();
          
          move("pokeball-container")
              .x(xOffset).duration(".2s").ease('ease-in-sine').then()
                  .x(- 2 * xOffset).duration(".3s").ease('ease-in-sine').then()
                      .x(xOffset).duration(".2s").ease('ease-in-sine')
                      .pop()
                  .pop()
              .end();
          setTimeout(fn, Math.random() * 5000 + 700);
      }

      setTimeout(fn, 3000);
