divide(a, b)
  a / b

.battle
  position absolute
  top 0
  left 0
  bottom 0
  background $body-color
  border-radius 4px 0 0 4px
  .battle_pane
    position      relative
    width         400px
    height        300px
    background    #333
    .back
      img
        image-rendering         -moz-crisp-edges
        image-rendering         -o-crisp-edges
        image-rendering         -webkit-optimize-contrast
        -ms-interpolation-mode  nearest-neighbor
      position absolute
      bottom   0
      left     0
      width    188px
      height   @width
    .front
      position absolute
      top      0
      right    0
      width    96px
      height   @width
  .wrapper
    margin 10px
  .button
    width         130px
    height        64px
    line-height   @height
    border-radius 4px
    float         left
    margin-right  10px
    margin-bottom @margin-right
    padding       0 10px
    background    #CCD8E0
    background    linear-gradient(top, #DAE4EB, #CCD8E0 50%, #AFBFC9 50%, #94A5B0)
    border        2px solid #777F85
    cursor        pointer
    &:hover
      background  #F2F0DC
      background  linear-gradient(top, #FFFEF0, #F2F0DC 50%, #E0DCCA 50%, #CFCAB6)
      border-color #8A8171
    &.disabled, &.disabled:hover
      background  #EBEBEB
      background  linear-gradient(top, #F5F5F5, #EBEBEB 50%, #A6A6A6 50%, #808080)
      border-color #8A8171
      cursor      default
      .main_text
        color     #999
    .main_text, .meta_info
      height      32px
      line-height @height
      position    relative
      top         3px
    .main_text
      font-size   16px
      font-weight 700
      color       #3D3021
    .meta_info
      font-size   13px
      text-align  right
    .pokemon_icon
      position    relative
      top         -3px
      padding-right  4px
    &.small
      height      divide(@height, 2)
      line-height @height
      background  linear-gradient(top, #DAE4EB, #CCD8E0)
      .main_text
        height      @height
        line-height @height
      &:hover
        background  linear-gradient(top, #FFFEF0, #F2F0DC)
      &.disabled, &.disabled:hover
        background  linear-gradient(top, #F5F5F5, #EBEBEB)
