h1
  narrow-font(36px)
  font-weight    700
  line-height    50px
  text-transform lowercase
  margin         0 $body_wrapper
  float          left

#header
  height      50px
  line-height @height
  .nav
    a, .fake_link
      margin-top 10px
      padding-top 0
      padding-bottom 0
      height @height - @margin-top
      line-height @height

.user-info
  float right
  margin 0 16px
