outline-text(clr = #000)
  text-shadow 0 1px 0 clr, 0 -1px 0 clr,
              -1px 0 0 clr, 1px 0 0 clr

divide(a, b)
  a / b

$padding = 10px
$battle-width = 600px
$pane-width = $battle-width + $padding + $padding

.battle_window .chat
  left $pane-width

.battle
  position absolute
  top 0
  left 0
  bottom 0
  width $pane-width
  box-sizing border-box
  background $body-color
  padding $padding
  h2
    font-size      0.6875em
    text-transform uppercase
    letter-spacing 1px
    border-bottom  1px solid rgba(0, 0, 0, .10)
    line-height normal
  .battle_container
    position relative
    width $battle-width
    height 300px
    background url("/images/battle_bg.jpg")
    narrow-font()
  .battle_user_info
    background rgba(0, 20, 64, .5)
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    .left
      bottom 20px
      left 0
    .right
      top 20px
      right 0
    .left, .right
      position absolute
      width 100px
      color #fff
      text-align center
      outline-text()
      font-size 13px
      .pokemon_icon
        top 0
        left 0
  .battle_pane
    position      absolute
    width         400px
    height        300px
    top           0
    left          100px
    background    url("/images/battle_bg.jpg") center center
    .pokemon
      &.bottom
        .pokemon-info
          bottom      30%
          left        188px
        .sprite
          img
            image-rendering         -moz-crisp-edges
            image-rendering         -o-crisp-edges
            image-rendering         -webkit-optimize-contrast
            -ms-interpolation-mode  nearest-neighbor
          bottom   0
          left     0
          width    188px
          height   @width
          &.fade
            left    @left - 20px
            opacity .3
      &.top
        .pokemon-info
          top         20%
          right       188px
        .sprite
          top      60px
          right    20px
          width    96px
          height   @width
          &.fade
            right   @right - 20px
            opacity .3

    .pokemon-info
      position      absolute
      width         144px
      height        6px
      border        1px solid #fff
      border-radius 2px
      box-shadow    0 0 0 1px #000
      background    rgba(0, 8, 32, .5)
      .hp, .hp-red, .hp-gradient
        position absolute
        top 0
        left 0
        bottom 0
        width       100%
        transition  width .4s cubic-bezier(0, 1, .5, 1)
      .hp-gradient
        background linear-gradient(top, transparent 40%, rgba(0,32,64,0.3) 60%)
      .hp-red
        background  #C00
        transition  width .4s linear 1s
      .hp
        background  #0f0
      .hp-text
        position absolute
        top -1px
        bottom @top
        left 100%
        background #333
        color #fff
        font-size 8px
        line-height @font-size
        padding 0 4px
        border-radius 0 2px 2px 0
        box-shadow 0 0 0 1px #222
        font-family Verdana, sans-serif
      .pokemon-meta
        position absolute
        left 0
        bottom 100%
        color #fff
        pointer-events visible
        outline-text()
      .pokemon-name
        font-weight 700
        color #fff
      .pokemon-level, .gender
        font-size 75%
      .pokemon-level-text
        color #EFA532
      .pokemon-effects
        position absolute
        top 9px
        color #fff
        normal-font()
        .pokemon-effect
          font-size .625em
          float left
          border-radius 3px
          background #333
          color #fff
          padding 0 4px
          border 1px solid rgba(0, 0, 0, .5)
          &.sleep
            background #535
          &.burn
            background #c33
          &.freeze
            background #38b
          &.paralyze
            background #b93
          &.poison, &.toxic
            background #b3b
          &.boost
            background #5a3
            &.negative
              background #a53
    .sprite
      position absolute
      transition .5s ease-out
      pointer-events visible
      img
        max-width none
  .pokemon
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    pointer-events none
    overflow hidden

  .pokeball
    position absolute
    background url("http://i.imgur.com/AdbmXdf.jpg") -133px -10px
    transition opacity .25s ease-in

  .percentage
    font-family "Helvetica Neue", sans-serif
    letter-spacing -1px
    font-weight 700
    padding 4px
    border-radius 3px
    background #4e4
    transition left 5s linear
    color #fff
    &.red
      background #e44

  .team-stealth-rock
    position absolute
    background url("http://s3.pokebattle.com/img/battle/stealth_rock.png")
    width 28px
    height 35px

  .team-toxic-spikes
    position absolute
    background url("http://s3.pokebattle.com/img/battle/toxic_spikes.png")
    width 21px
    height 21px

  .team-spikes
    position absolute
    background url("http://s3.pokebattle.com/img/battle/spikes.png")
    width 21px
    height 21px

  .team-sticky-web
    position absolute
    background url("http://s3.pokebattle.com/img/battle/sticky_web.png")
    width 150px
    height 151px

.moves
  .button
    display block
    float none
    margin 0 0 5px

.switches
  .button
    display block
    float none

.mega-evolve
  text-align center
  font-size .8em

.gender
  &.gender_female
    color #EA597A
  &.gender_male
    color #62CBB0

.team_icons
  width 192px

.pokemon_icon
  position    relative
  width       32px
  height      @width
  display     block
  margin      0 auto
  top         -3px
  left        -4px
  background url("http://s3.pokebattle.com/img/pokemon_icons.png") top left
  &.fainted
    opacity 0.5

.battle_teams
  text-align center
  width 80%
  margin 0 auto
  normal-font()
  li
    position relative
  .gender
    position absolute
    top 0
    right 2px
    font-size .75em
    text-shadow 0 1px 0 #333
  .level
    position absolute
    bottom 0
    right 2px
    font-size .75em
    line-height @font-size
    outline-text(#fff)
    narrow-font()

.battle_team_preview
  background #eee
  padding 10px
  border-radius 4px
  margin 10px 0
  border 1px solid #aaa

  .submit_arrangement
    margin 10px 0 0

  .team_pokemon
    position relative
    width 32px
    height @width
    margin 0 auto

  .arrange_team
    user-select none
    li
      cursor move
      border-radius 4px

  .lead_text
    font-size .8125em
    min-height 0

  .pokemon_icon
    top 0
    left 0

  .sortable-placeholder
    border 1px dashed #ccc
    background none
    float left
    // TODO: This should have the span2 style attached
    width 41.296875px
    height 40px
    margin-left 2.564102564102564%

  // :first-child pseudo-classes don't work well with jquery.sortable
  .first-child
    margin-left 0

  .unstyled
    margin 0

  .battle-timer
    font-size 2em
    &.battle-timer-low
      color #f33

.well-battle-actions
  font-size 1.5em
  height 3em
  line-height @height
  text-align center

.save-log
  display block
  text-align center
