.battle-list
  position absolute
  top 0
  bottom 0
  left 0
  right 0

  h2
    display block
    margin-left 10px

.battle-list-row
  cursor pointer
  border 1px solid #DDD
  background #F5F5F5
  box-shadow 1px 2px 0 rgba(0, 0, 0, 0.2)
  margin 10px
  padding 10px

  &:hover
    background: #FFF

  .vs
    font-weight bold
    margin 0 5px