outline-text(clr = #000)
  text-shadow 1px 1px 0 clr, 1px -1px 0 clr, -1px -1px 0 clr, -1px 1px clr

divide(a, b)
  a / b

button-bg(clr)
  clr          = lighten(clr, 50%)
  dark         = darken(clr, 10%)
  darker-dark  = darken(dark, 20%)
  dark-clr     = darken(clr, 20%)
  darker-clr   = darken(clr, 50%)
  darkest-clr  = darken(darker-clr, 20%)
  btn-clr      = darken(darkest-clr, 30%)
  background   linear-gradient(top, clr, dark-clr)
  border       1px solid darker-clr
  border-color rgba(0, 0, 0, .1), rgba(0, 0, 0, .2), rgba(0, 0, 0, .3)
  color        btn-clr
  &:hover
    background linear-gradient(top, dark, darker-dark)
    border-color darkest-clr
    color darken(btn-clr, 20%)
    text-shadow   0 -1px 0 rgba(255, 255, 255, .10)

.battle
  position absolute
  top 0
  left 0
  bottom 0
  background $body-color
  h2
    font-size      0.6875em
    text-transform uppercase
    letter-spacing 1px
    border-bottom  1px solid rgba(0, 0, 0, .10)
  .battle_container
    position relative
    width 600px
    height 300px
    background url("/images/battle_bg.jpg")
    narrow-font(16px)
  .battle_overlay
    background rgba(0, 20, 64, .5)
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    .left
      bottom 20px
      left 0
    .right
      top 20px
      right 0
    .left, .right
      position absolute
      width 100px
      color #fff
      text-align center
      outline-text()
      font-size 13px
      .pokemon_icon
        top 0
        left 0
  .battle_pane
    position      absolute
    width         400px
    height        300px
    top           0
    left          100px
    background    url("/images/battle_bg.jpg") center center
    .pokemon
      &.bottom
        .pokemon-info
          bottom      30%
          left        188px
        .sprite
          img
            image-rendering         -moz-crisp-edges
            image-rendering         -o-crisp-edges
            image-rendering         -webkit-optimize-contrast
            -ms-interpolation-mode  nearest-neighbor
          bottom   0
          left     0
          width    188px
          height   @width
      &.top
        .pokemon-info
          top         20%
          right       188px
        .sprite
          top      30px
          right    20px
          width    96px
          height   @width

    .pokemon-info
      position      absolute
      width         144px
      height        3px
      border        1px solid #fff
      border-radius 2px
      box-shadow    0 0 0 1px #000
      .hp, .hp-red
        position    absolute
        top         0
        left        0
        bottom      0
        width       100%
        transition  width .4s cubic-bezier(0, 1, .5, 1)
      .hp-red
        background  #C00
        transition  width .4s linear 1s
      .hp
        background  #0f0
      .pokemon-name, .pokemon-meta
        position absolute
        bottom 100%
        color #fff
        outline-text()
      .pokemon-name
        left 0
        font-weight 700
      .pokemon-meta
        right 0
        font-size 75%
      .pokemon-level
        color #EFA532
    .sprite
      position absolute
      overflow hidden
    .sprite img
      transition top .25s ease-in, opacity .25s ease-in
  .wrapper
    margin 10px
  .pokemon
    position absolute
    width 100%
    height 100%
    top 0
    left 0

.button
  clearfix()
  button-bg(#eee)
  height        32px
  line-height   @height
  border-radius 4px
  float         left
  margin-right  5px
  margin-bottom @margin-right
  padding       0 10px
  cursor        pointer
  color         #333
  text-shadow   0 -1px 0 rgba(255, 255, 255, .25)
  box-shadow    inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.25)
  .main_text
    font-size   16px
    font-weight 700
    float       left
    margin-right 10px
  .meta_info
    font-size   12px
    float       right
    font-family "Helvetica Neue", sans-serif
  &.normal
    button-bg(#A9A57A)
  &.fire
    button-bg(#E28544)
  &.water
    button-bg(#6A97ED)
  &.electric
    button-bg(#F0C944)
  &.grass
    button-bg(#8FC052)
  &.ice
    button-bg(#A2CFD0)
  &.fighting
    button-bg(#B04137)
  &.poison
    button-bg(#9253A0)
  &.ground
    button-bg(#DCBE6F)
  &.flying
    button-bg(#A09AEE)
  &.psychic
    button-bg(#E0698B)
  &.bug
    button-bg(#AEB22D)
  &.rock
    button-bg(#B69D42)
  &.ghost
    button-bg(#6A5F97)
  &.dragon
    button-bg(#5C59F1)
  &.dark
    button-bg(#685447)
  &.steel
    button-bg(#B7BACF)
  &.disabled, &.disabled:hover
    background  #444
    border-color #8A8171
    cursor      default
    color       #888
    text-shadow none

.moves
  .button
    display block
    float none
    margin 0 0 5px

.switches
  .button
    display block
    float none

.gender
  &.gender_female
    color #EA597A
  &.gender_male
    color #62CBB0

.pokemon_icon
  position    relative
  width       32px
  height      @width
  display     block
  margin      0 auto
  top         -3px
  left        -4px
  background url("http://i.imgur.com/UUGozoG.png") top left
