for $i in (1 2 3)
  .z{$i}
    z-index $i

for $i in (1 2 3 4)
  .ml{$i}
    margin-left $i * 10px
  .mr{$i}
    margin-right $i * 10px
  .mt{$i}
    margin-top $i * 10px
  .mb{$i}
    margin-bottom $i * 10px
