.main_buttons
  position absolute
  top 0
  left 0
  bottom 0
  background $body-color

  .button
    display block
    float none
    text-align center
    margin 0 auto

.section
  width 80%
  background rgba(64, 64, 64, .15)
  margin 16px auto
  padding 8px
  border-radius 8px
