.main_buttons
  position absolute
  top 0
  left 0
  bottom 0
  box-sizing border-box
  padding 30px 30px 0 30px
  width 40%
  overflow auto

  .button
    display block
    float none
    text-align center
    margin 0 auto

  p
    margin 1em 0 0 0

.section
  width 100%
  box-sizing border-box
  background rgba(64, 64, 64, .15)
  margin-bottom 15px
  padding 8px
  border-radius 8px
