#messages
  position absolute
  bottom 0
  right 0
  width 100%
  font-size .875em

  .popup
    position fixed
    bottom 0
    float right
    width 270px
    margin-left 10px
    box-shadow 0 2px 6px rgba(0, 0, 0, .2)

    &.new_message
      .title
        background #d94e47

    .popup_messages
      background white
      height 270px
      border-bottom 1px solid #ccc
      border-left 1px solid #ccc
      border-right @border-left
      overflow-y scroll
      line-height 1.3em

      &.small
        height 150px

      p
        margin 0 6px
        overflow hidden
        word-wrap break-word

    .popup_menu
      background linear-gradient(top, #f0f0f0, #eee)
      border-left 1px solid #ccc
      border-right @border-left
      border-bottom @border-left

    .popup_menu_button
      border-right 1px solid #ddd
      float left
      padding 8px
      cursor pointer
      &:hover
        background #ddd

    .chat_input_pane
      position relative
      background #eee
      height 36px

      .chat_input_wrapper
        padding 3px
        border-left 1px solid #ccc
        border-right @border-left

    .title
      background #333
      border-radius 3px 3px 0 0
      padding 8px 0 8px 12px
      color white

      &.new
        background #d94e47

    .title_buttons
      position absolute
      top 0
      right 2px

      .title_button
        display inline-block
        cursor pointer
        padding 5px
        margin 4px
        &:hover
          background #706666

      .icon-minus
        position relative
        top 4px

    .challenge
      background #f0f0f0
      border-right 1px solid #ccc
      border-left @border-right
      border-bottom @border-right
      transition bottom .25s ease-out

      .challenge_data
        padding 8px

        .challenge_clauses
          height 50px
          overflow-y auto

        p
          margin 1em 0 0
          &:first-child
            margin-top 0

      .challenge_buttons
        padding 8px
        border-top 1px solid #ccc
        .button
          margin-right 8px
