.clearfix:before, .clearfix:after
  content ""
  display table
  line-height 0

.clearfix:after
  clear both

::selection
  background #F27405

.left
  float left

.right
  float right

.half_width
  width 50%

.select
  cursor pointer
  border 1px solid #aaa
  border-radius 3px
  background #f0f0f0
  padding 10px
  &:hover
    background #fff
    border-color #bbb

  &.disabled
    background #ccc
    cursor auto
