.clearfix:before, .clearfix:after
  content ""
  display table
  line-height 0

.clearfix:after
  clear both

::selection
  background #F27405

.left
  float left

.right
  float right

.half_width
  width 50%

.center
  text-align center

.hidden
  display none

.select
  cursor pointer
  border 1px solid #aaa
  border-radius 3px
  background #f0f0f0
  padding 10px
  &:hover
    background #fff
    border-color #bbb

  &.disabled
    background #ccc
    cursor auto

.alt-input
  $button-size = 65px
  $num-buttons = 2
  $alt-input-height = 38px
  width 100%
  padding-right ($button-size * $num-buttons)
  box-sizing border-box

  .input-wrapper
    width 100%
    float left
    input
      width 100%
      box-sizing border-box
      height $alt-input-height
      border-radius 4px 0 0 4px
      margin-bottom 0

  .buttons-wrapper
    margin-right -($button-size * $num-buttons)
    float left
    .button
      float left
      width $button-size
      box-sizing border-box
      height $alt-input-height
      padding 0
      border-radius 0
      margin-left -1px
      margin-bottom 0
    .button:last-child
      border-radius 0 4px 4px 0

.challenge_clauses
  list-style none
  margin 0
  input
    vertical-align top
    margin-top 3px
  label
    display block
    margin-bottom 0
    &.disabled
      cursor not-allowed
      color #bbb
