h1
  narrow-font()
  font-size      2em
  font-weight    700
  line-height    50px
  margin 0

#header h1
  text-transform lowercase
  margin         0 $body_wrapper

#navigation
  $clr = #44484e
  position absolute
  top 0
  left 0
  bottom 0
  width $nav_size
  background $clr
  font-size .875em
  overflow hidden
  .logo
    display block
    margin 0
    font-size 32px
    color rgba(255, 255, 255, .8)
    text-shadow 0 1px 0 #333
    text-align center
    height $header_size
    line-height $header_size
  .nav
    margin-bottom 1em
    a, .fake_link
      display block
      padding 4px 16px
      color #ccd
      border none
      background none
      float none
      margin 0
      border-radius 0
      &:hover
        background lighten($clr, 10%)
        color #fff
  h2
    text-transform uppercase
    margin 0
    font-size .929em
    padding 4px 16px
    letter-spacing 1px
    color lighten($clr, 60%)
    background darken($clr, 20%)
    text-shadow 0 1px 0 rgba(0, 0, 0, .3)
    color #777
    border-bottom 1px solid #555
    border-top 1px solid #111
    
  .nav_item
    position relative
    &.active, &.active:hover
      background #a58a61
      color #fff
      cursor default
    .nav_meta
      position absolute
      right 0
      font-size .714em
    .notifications, .close
      padding 2px 6px
      height 14px
      line-height @height
      margin-right 5px
      float left
    .notifications
      border-radius 4px
      background #a30
      color #fff
    &:hover .notifications
      background #b41
    .close
      background #333
      border-radius 1em
      color #fff
      cursor pointer
      &:hover
        background #555

.user-info
  float right
  margin 0 16px
