.teambuilder
  position absolute
  top 0
  bottom 0
  left 0
  right 0

  select, input
    margin-bottom 0!important
    width 100%

.teambuilder .species
  float left
  width 120px

.teambuilder .meta-info
  margin-left 135px

.teambuilder .navigation
  position absolute
  top 0
  bottom 0
  background-color $body-color
  width: 150px

  ul
    list-style-type none
    padding 0
    margin 0

  li, .nav-button
    display block
    padding 6px 0 6px 1em
    height 32px
    line-height @height

  li:hover, .nav-button:hover
    cursor pointer
    background-color rgba(0, 0, 0, 0.1)

  li.active
    background-color rgba(200, 210, 255, 0.5)

  .pokemon_icon
    float none
    display inline-block
    margin 0
    vertical-align middle

.teambuilder .nature_ability_item
  display table
  margin 1.5em 0
  width 100%

  div
    display table-row
    line-height 1.5em
    
  span, input, select
    display: table-cell

.teambuilder .stats
  margin-bottom 1.5em

  td, th
    text-align left
    padding-right 10px
    white-space nowrap
    line-height 1.5em
    height 1.5em

  input
    width auto

.teambuilder .pokemon_edit
  position absolute
  overflow auto
  left 150px
  top 0
  bottom 0
  right 0
  background white
  padding 15px

.teambuilder .forme-sprite-box
  width 120px
  height @width
  line-height @height
  text-align center
  .forme-sprite
    display inline-block

.teambuilder .selected_moves
  .move-button, input
    display block
    margin 0
    box-sizing border-box
    height 32px

.teambuilder .table-moves
  border-collapse separate
  tbody tr
    cursor pointer
    td
      border 1px solid transparent
      &:first-child
        border-radius 1em 0 0 1em
      &:last-child
        border-radius 0 1em 1em 0
    &.active
      td
        border-top 1px solid #dddde7
        border-bottom @border-top
        background #f0f0f9
        &:first-child
          border-left @border-top
        &:last-child
          border-right @border-top
