$header = 50px

.teambuilder
  position absolute
  top 0
  bottom 0
  left 0
  right 0

  select, input
    margin-bottom 0!important
    width 100%

.teambuilder .species
  float left
  width 120px

.teambuilder .meta-info
  margin-left 135px

.teambuilder .navigation
  position absolute
  top $header
  bottom 0
  background-color $body-color
  width: 150px

  ul
    list-style-type none
    padding 0
    margin 0

  li, .nav-button
    display block
    padding 6px 0 6px 1em
    height 32px
    line-height @height

  li:hover, .nav-button:hover
    cursor pointer
    background-color rgba(0, 0, 0, 0.1)

  li.active
    background-color rgba(200, 210, 255, 0.5)

  .pokemon_icon
    float none
    display inline-block
    margin 0
    vertical-align middle

.teambuilder .team_meta
  position absolute
  top 0
  left 0
  right 0
  height $header
  line-height @height
  .team_name
    font-weight 700
    font-size 1.5em
    height $header
    line-height @height
    float left
    margin 0
    width auto
    padding 0 (1em/@font-size)
    box-sizing border-box

  .team_name:hover:not(:focus)
    text-decoration underline
    cursor pointer

  .team_meta_buttons
    float right
    margin-top 7px
    .button
      float left
      margin-right 10px

.teambuilder .meta-info .non-stats
  display table
  margin 1.5em 0
  width 100%

  .teambuilder_row
    display table-row
    line-height 1.5em
    
  .teambuilder_col
    display table-cell
    box-sizing border-box
    height 2em
    margin 0
    &:first-child
      text-align right
      padding-right 10px

.teambuilder .stats
  margin-bottom 1.5em

  td, th
    text-align left
    padding-right 10px
    white-space nowrap
    line-height 1.5em
    height 1.5em

  td:first-child
    text-align right

  input
    width auto

.teambuilder select.select-hidden-power
  width auto

.teambuilder .pokemon_edit
  position absolute
  overflow auto
  left 150px
  top $header
  bottom 0
  right 0
  background white
  padding 15px

.teambuilder .forme-sprite-box
  width 120px
  height @width
  line-height @height
  text-align center
  .forme-sprite
    display inline-block

.teambuilder .species-types
  text-align center
  margin-bottom 5px
  img
    margin 0 2px

.teambuilder .selected_moves
  .move-button, input
    display block
    margin 0
    box-sizing border-box
    height 32px

.teambuilder .table-moves
  border-collapse separate
  margin-top 8px
  border solid 1px #DDD
  thead th
    background whitesmoke
    border-bottom solid 1px #DDD
  tbody tr
    cursor pointer
    td
      border 1px solid transparent
    &.active td
      background #f0f0f9
      &:first-child
        text-decoration underline
    img
      margin-bottom 3px

.teambuilder .display_teams
  position absolute
  top 0
  left 0
  bottom 0
  right 0

  .select-team
    cursor pointer
    padding 10px
    border 1px solid #ddd
    background #f5f5f5
    border-radius 3px
    margin-top 10px
    margin-left @margin-top
    box-shadow 1px 2px 0 rgba(0, 0, 0, .2)
    &:hover
      background white

    h2
      text-overflow ellipsis
      white-space nowrap
      overflow hidden
      width 192px
      margin 0
      font-size 1.5em

  .add-new-team
    margin 10px

  .team-meta
    font-size .75em
    text-align right
    margin-top 10px

textarea.imported-team, textarea.exported-team
  box-sizing border-box
  width 100%
  height 300px
