#achievements-modal.modal.hide
  .modal-body
    for achievement in achievements
      .achievement
        img(src="//media.pokebattle.com/logo/pb_red.png")
        .achievement-info
          h2= achievement.name
          p= achievement.condition