#credits-modal.modal.hide
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
    h3 PokeBattle Credits
  .modal-body
    ul
      li
        | Pokémon is © 1995-2014 Nintendo. All Pokemon names and sprites are
        |  owned by them.
      li
        a(href="http://pkparaiso.com", target="_blank") PKParaiso
        |  has graciously allowed us to use their ripped sprites of the XY
        |  in-game models.
      li
        | Thanks to Zracknel for creating our amazing logo. There's a visual
        |  easter egg in it!
      li
        | Thanks to 
        a(href="http://worldslayer608.deviantart.com/", target="_blank") worldslayer608
        |  for ripping some battle backgrounds.
      li
        | And thanks to our countless friends, for being friends.
  .modal-footer
    button.button(data-dismiss="modal", aria-hidden="true") Wow, these people rule!
