#errors-modal.modal.hide
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
    h3= title
  .modal-body!= body
  .modal-footer
    button.btn(data-dismiss="modal", aria-hidden="true") Back
