#export-team-modal.modal.hide
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
    h3 Your exported team
  .modal-body
    form.form-horizontal
      .control-group
        textarea.exported-team.textarea_modal
  .modal-footer
    button.button(data-dismiss="modal", aria-hidden="true") Close
