.teambuilder
  .display_pokemon
    .team_meta
      .team_name(contenteditable="true")
      .team_meta_buttons
        .dropdown.change-gen-dropdown.left
          .current-generation.button.dropdown-toggle(data-toggle="dropdown")
          ul.dropdown-menu(role="menu")
            li
              a(href="#", data-generation="bw") Gen. 5: BW
            li
              a(href="#", data-generation="xy") Gen. 6: XY
        .button.button-primary.save_team.disabled Save
        .button.go_back Back
    .navigation
      ul.pokemon_list
      .nav-button.add_pokemon + Add Pokemon
    .pokemon_edit
  .display_teams
