.teambuilder
  .display_pokemon
    .team_meta.clearfix
      .team_name(contenteditable="true")
      .team_meta_buttons
        .dropdown.change-format-dropdown.left
          .current-format.button.dropdown-toggle(data-toggle="dropdown")
          ul.dropdown-menu(role="menu")
            li
              a(href="#", data-format="xy1000") 1000 PBV XY
            li
              a(href="#", data-format="xy500") 500 PBV XY
        .button.button_blue.save_team.disabled Save
        .button.go_back Back
    .navigation
      ul.pokemon_list.clearfix
      .nav-button.add_pokemon + Add Pokemon
    .pokemon_edit
  .display_teams
