each pokemon, i in pokemonList
  li(data-pokemon-index=i, data-pokemon-cid=pokemon.cid)
    - var style = window.PokemonIconBackground(pokemon.get('name'), pokemon.get('forme'))
    .pokemon_icon(style=style)
    .pokemon-middle
      = pokemon.get("name")
      .pokemon-pbv
        | PBV: 
        span.pbv-value= pokemon.getPBV()