h2 Your teams
.teambuilder_teams.clearfix
  each team in teams
    != window.JST['teambuilder/team']({team: team, window: window})
.button.button_blue.add-new-team Add new team
.button.import-team Import
