.left.select-team.relative.rounded(data-id=team.id, data-cid=team.cid)
  h2= team.getName()
  != window.JST['team_small']({team: team, window: window})
  .team-meta
    span.fake_link.export-team
      span.icon-upload
      |  Export
    |  | 
    span.fake_link.clone-team
      span.icon-copy
      |  Clone
    |  | 
    span.fake_link.delete-team
      span.icon-remove
      |  Delete
  .show_spinner.flex-center.fill.bg-faded-white.rounded.hidden
    != window.JST['spinner']()
