monospace-font(size=14px)
  font size "PT Mono", "Monaco", monospace

.chat
  height 300px
  position relative
  margin 1em 0

.user_list
  position absolute
  top    0
  right  0
  bottom 0
  width  300px
  background #CCD8E0
  margin 0
  padding 0
  list-style none

  li
    monospace-font()
    padding 3px 6px

.message_pane
  position absolute
  top    0
  left   0
  right  300px
  bottom 0

.messages
  monospace-font()
  overflow-y scroll

.chat_input
  box-sizing border-box
  border 2px solid #384035
  monospace-font()
  width 100%
  padding 3px 6px
  &:hover
    border-color #5D736B
  &:focus
    border-color #F27405
    outline none
