.chat
  height 300px
  position relative
  margin 1em 0

.user_list
  position absolute
  top    0
  right  0
  bottom 0
  width  300px
  background #CCD8E0
  margin 0
  padding 0
  list-style none

  li
    font 14px "PT Mono", "Monaco", monospace
    padding 3px 6px

.message_pane
  position absolute
  top    0
  left   0
  right  310px
  bottom 0

.messages
  font 14px "PT Mono", "Monaco", monospace
  overflow-y scroll
