html, body
  color   #333
  padding 0
  margin  0
  font    100% "PT Sans", "Helvetica Neue", sans-serif

h1
  font           36px "PT Sans Narrow", "Helvetica Neue", sans-serif
  font-weight    700
  line-height    50px
  text-transform lowercase
  margin         0

#header
  background #384035
  color      #E3F2DF

.wrapper
  min-width 600px
  margin    0 auto
  padding   0 20px

.pokemon_icon
  background url("http://play.pokemonshowdown.com/sprites/bwicons-sheet.png?v0.7rc2") top left no-repeat
  width      32px
  height     @width
