- var percent = Math.floor(pokemon.hp * 100 / pokemon.maxHP)
- var color = ((percent <= 25) ? "#f00" : (percent <= 50) ? "#ff0" : "#0f0")
- var style = "width: " + percent + "%"
- var greenStyle = style + "; background-color: " + color
.sprite.preload(data-name = pokemon.name)
.pokemon-info
  .pokemon-name= pokemon.name
  .pokemon-meta
    if pokemon.gender === 'F'
      span.gender.gender_female &#9792;
    else if pokemon.gender === 'M'
      span.gender.gender_male &#9794;
    span.pokemon-level  Lv.
    = pokemon.level
  .hp-red(style = style)
  .hp(style = greenStyle)
  .pokemon-effects
