mixin moveButton(forPokemon, i)
  - var validMoves = validActions.moves || []
  - var move       = forPokemon.moves[i]
  - var moveType   = forPokemon.moveTypes[i].toLowerCase()
  - var pp         = forPokemon.pp[i]
  - var maxPP      = forPokemon.maxPP[i]
  - var isEnabled  = validMoves.indexOf(move) !== -1
  - var disabledClass = (!isEnabled ? ' disabled' : '')
  .move.button(class = moveType + disabledClass)
    .main_text= move
    .meta_info
      = pp
      small /#{maxPP}

- var actionSwitches = validActions.switches || []
- var team = yourTeam.pokemon
.moves.span8
  h2 Moves
  // TODO: if locals.team[0].isAlive()
  .clearfix
    - var pokemon = team[0]
    - var numMoves = pokemon.moves.length
    - for (var i = 0; i < numMoves; i += 2)
      .row-fluid
        .span6
          +moveButton(pokemon, i)
        if i + 1 < numMoves
          .span6
            +moveButton(pokemon, i + 1)

.switches.span4
  h2 Pokemon
  - for (var j = 0; j < team.length; j += 3)
    .row-fluid
      - for (var i = j; i < j + 3; i++)
        - var pokemon = team[i]
        - var isEnabled = actionSwitches.indexOf(i) !== -1
        - var disabledClass = (!isEnabled ? 'disabled' : '')
        .span4
          .switch.button(class = disabledClass, data-slot = i)
            .pokemon_icon(style = window.PokemonIconBackground(pokemon.name))
