each team in [ yourTeam, opponentTeam ]
  - var leftOrRight = (team === yourTeam ? 'left' : 'right')
  div(class = leftOrRight)
    = team.owner
    - for (var j = 0, len = team.length; j < len; j += 3)
      .row-fluid
        - for (var i = j; i < j + 3; i++)
          .span4
            - var pokemon = team.at(i)
            - var faintClass = (pokemon.isFainted() ? 'fainted' : '')
            - var style = window.PokemonIconBackground(pokemon.get('name'), pokemon.get('forme'))
            - var teamIndex = (team === yourTeam ? yourIndex : 1 - yourIndex)
            .pokemon_icon(class = faintClass, style = style, data-team = teamIndex, data-slot = i)
