each team in [ yourTeam, opponentTeam ]
  - var leftOrRight = (team === yourTeam ? 'left' : 'right')
  div(class = leftOrRight)
    = team.owner
    .battle-timer
    .pokemon_icons
      - var numPerRow = 2
      - for (var j = 0, len = team.length; j < len; j += numPerRow)
        .row-fluid
          - for (var i = j; i < j + numPerRow; i++)
            - var pokemon = team.at(i)
            if pokemon
              .span6.icon_wrapper
                - var faintClass = (pokemon.isFainted() ? 'fainted' : '')
                - var style = window.PokemonIconBackground(pokemon.get('name'), pokemon.get('forme'))
                - var teamIndex = (team === yourTeam ? yourIndex : 1 - yourIndex)
                a.pokemon_icon(href=pokemon.getPokedexUrl(), target="_blank", class = faintClass, style = style, data-team = teamIndex, data-slot = i)
                .pokemon_hp_background
                  .pokemon_hp(style="height: " + (pokemon.getPercentHP()) + "%", class=pokemon.getHPColor())
