- var percent = pokemon.getPercentHP()
- var color = ((percent <= 25) ? "#f00" : (percent <= 50) ? "#ff0" : "#0f0")
- var style = "width: " + percent + "%"
- var greenStyle = style + "; background-color: " + color
a.sprite.preload(href=pokemon.getPokedexUrl(), target='_blank', data-name = pokemon.get('name'), data-forme = pokemon.get('forme'), data-shiny = (pokemon.get('shiny') ? "true" : "false"))
.pokemon-info
  span.pokemon-meta
    a.pokemon-name(href=pokemon.getPokedexUrl(), target="_blank")
      = pokemon.get('name')
    if pokemon.get('gender') === 'F'
      span.gender.gender_female  &#9792;
    else if pokemon.get('gender') === 'M'
      span.gender.gender_male  &#9794;
    if pokemon.get('level') != 100
      span.pokemon-level
        span.pokemon-level-text  Lv.
        = pokemon.get('level')
  .hp-text #{percent}%
  .hp(style = greenStyle)
  .hp-gradient
  .pokemon-effects
