.button.big.save-replay.block.relative
  | Save replay
  .show_spinner.flex-center.fill.bg-faded-white.hidden
    != window.JST['spinner']()

.row-fluid
  .button.save-log.block.span6.center Save log
  .button.return-to-lobby.block.span6.center Return to lobby
