mixin displayOtherTeam(team, text)
  section.battle_team_preview
    p= text
    ul.row-fluid.unstyled
      each pokemon in team.pokemon
        li.span2
          +displayPokemon(pokemon)

mixin displayYourTeam(team, text)
  section.battle_team_preview
    p= text
    ul.row-fluid.unstyled
      - for (var i = 0; i < numActive; i++)
        li.span2.lead_text
          if numActive > 1
            | Lead #{i + 1}
          else
            | Lead
    ul.arrange_team.row-fluid.unstyled
      each pokemon, i in yourTeam.pokemon
        li.span2.img-polaroid
          +displayPokemon(pokemon, i)

    .button.submit_arrangement Start battle

mixin displayPokemon(pokemon, i)
  .team_pokemon
    - var style = window.PokemonIconBackground(pokemon.name, pokemon.forme)
    .pokemon_icon(data-index = i, style = style)
  if pokemon.gender === 'F'
    .gender.gender_female &#9792;
  else if pokemon.gender === 'M'
    .gender.gender_male &#9794;
  if pokemon.level != 100
    .level Lv.#{pokemon.level}

.battle_teams
  - var theirTeam = teams[1 - yourIndex]
  - var yourTeam = teams[yourIndex]
  if !isSpectating
    +displayOtherTeam(theirTeam, "Your opponent's team:")
    +displayYourTeam(yourTeam, "Drag and rearrange your team:")
  else
    +displayOtherTeam(theirTeam, theirTeam.owner + "'s team:")
    +displayOtherTeam(yourTeam, yourTeam.owner + "'s team:")
