- var percent = pokemon.getPercentHP()
- var color = ((percent <= 25) ? "#f00" : (percent <= 50) ? "#ff0" : "#0f0")
- var style = "width: " + percent + "%"
- var greenStyle = style + "; background-color: " + color
.sprite.preload(data-name = pokemon.get('name'), data-forme = pokemon.get('forme'), data-shiny = (pokemon.get('shiny') ? "true" : "false"))
.pokemon-info
  a.pokemon-name(href=pokemon.getPokedexUrl(), target="_blank")= pokemon.get('name')
  .pokemon-meta
    if pokemon.get('gender') === 'F'
      span.gender.gender_female &#9792;
    else if pokemon.get('gender') === 'M'
      span.gender.gender_male &#9794;
    span.pokemon-level  Lv.
    = pokemon.get('level')
  .hp-text #{percent}%
  .hp-red(style = style)
  .hp(style = greenStyle)
  .hp-gradient
  .pokemon-effects
