.battle-list
  h2 Battle List

  .battle-list-collection
    each battle in battles
      .battle-list-item-wrapper
        .battle-list-item.spectate.clearfix(data-battle-id=battle[0])
          .left
            span.player= battle[1]
            span.vs VS
            span.player= battle[2]
          .right
            span.fake_link.elapsed-time(data-time-start=Date.now() - battle[3])

