.window.battle_window(data-battle-id = battle.id)
  .battle
    .battle_container(class = 'battle_bg_' + backgroundNumber)
      .battle_user_info
      .battle_pane.clearfix
      .battle_summary
      .battle_overlays
    .battle_actions.row-fluid.relative
  .chat!= window.JST['chat']()
