.challenge_data
.challenge_buttons
  .is_challenger.hidden
    .accept_challenge.button.button_blue Accept
    .reject_challenge.button.button_red Reject
  .is_not_challenger
    .send_challenge.button.button_blue
      span.icon.icon-spinner.spinner-anim.hidden
      | 
      span.challenge_text Challenge
    .cancel_challenge.button Close
