.challenge_data
.challenge_buttons
  .is_challenger.hidden
    .accept_challenge.btn.btn-primary Accept
    .reject_challenge.btn.btn-danger Reject
  .is_not_challenger
    .send_challenge.btn.btn-primary
      span.icon.icon-spinner.spinner-anim.hidden
      | 
      span.challenge_text Challenge
    .cancel_challenge.btn Close
