.user_list
  p
    strong.user_count
  ul.users
.message_pane
  .messages
  .chat_input_pane
    input.chat_input_send(type = 'button', value = 'Send')
    .chat_input_wrapper
      input.chat_input(type = 'text')
