p.logo pb
h2 Chat
ul.nav.nav_rooms
  li.nav_item.fake_link Lobby

h2.header_battles.hidden Battles
ul.nav.nav_battles.hidden

h2 Other links
ul.nav
  li.nav_item.fake_link.nav_teambuilder Teambuilder
  li.nav_item.fake_link.nav_battle_list Battle List
  a(href="http://www.pokebattle.com/forums/thread/14.sim-bugs/", target="_blank").nav_item Bug Reports
  a(href="http://www.pokebattle.com/forums/thread/20.sim-and-site-feature-request-and-pain-points/", target="_blank").nav_item Feature Requests
