p.logo pb
h2 Chat
ul.nav.nav_rooms
  li.nav_item.fake_link Lobby

h2 Other links
ul.nav
  li.nav_item.fake_link.nav_teambuilder Teambuilder
  li.nav_item.fake_link.nav_battle_list Battle List
  a(href="/replays", target="_blank").nav_item Your Replays
  a(href="//pokebattle.com/leaderboard/", target="_blank").nav_item Leaderboard
  a(href="//pokebattle.com/forums/thread/14.sim-bugs/", target="_blank").nav_item Bug Reports
  a(href="//pokebattle.com/forums/thread/20.sim-and-site-feature-request-and-pain-points/", target="_blank").nav_item Feature Requests

h2.header_battles.hidden Battles
ul.nav.nav_battles.hidden

h2.header_messages.hidden Messages
ul.nav.nav_messages.hidden
