p.logo pb
h2 Chat
ul.nav.nav_rooms
  li.nav_item.fake_link Lobby

h2.header_battles.hidden Battles
ul.nav.nav_battles.hidden

h2 Other links
ul.nav
  li.nav_item.fake_link.nav_teambuilder Teambuilder
  li.nav_item.fake_link.nav_battle_list Battle List V2
