h2 Chat
ul.nav
  li.fake_link(data-tab-for="#main-section") Lobby
if battles
  h2 Battles
  ul.nav
  each battle in battles
    li.fake_link(data-battle-id=battle.id) #{battle.name}
h2 Other links
ul.nav
  li.tab.fake_link(data-tab-for="#teambuilder-section") Teambuilder
