p.logo pb
h2 Chat
ul.nav.nav_rooms
  li.fake_link Lobby
if battles.length > 0
  h2 Battles
  ul.nav.nav_battles
    - battles.each(function(battle) {
      li.fake_link(data-battle-id=battle.id)= battle.id
    - })
h2 Other links
ul.nav
  li.fake_link Teambuilder
