p
  strong In-battle display name:
.alt-input.clearfix.hidden
  .input-wrapper
    input(type="text")
  .buttons-wrapper
    button.button.add-button Add
    button.button.cancel-button Cancel
.alt-dropdown-section.dropdown
  .select.select-alt(data-toggle="dropdown")
  ul.dropdown-menu.alt-dropdown(role = "menu")
  
p
  strong Format:
.dropdown
  .select.select-format(data-toggle = "dropdown")
  ul.dropdown-menu.format-dropdown(role = "menu")
    li
      a.select-format-dropdown-item(data-format="xy1000") 1000 PBV XY
    li
      a.select-format-dropdown-item(data-format="xy500") 500 PBV XY

p
  strong Select a team:
.dropdown
  .select.select-team(data-toggle = "dropdown")
    strong Your team
  ul.dropdown-menu.team-dropdown(role = "menu")

p
  strong Clauses:
ul.challenge_clauses.well
  for value, clause in window.Conditions
    - var checked = (defaultClauses.indexOf(value) >= 0)
    li
      label
        input(type = "checkbox", value = value, checked = checked, data-clause = value)
        |  #{window.HumanizedConditions['en'][clause]}
