p
  strong Alt:
.alt-input.hidden
  input
  button Add Alt
.alt-dropdown-section.dropdown
  .select.select-alt(data-toggle="dropdown")
  ul.dropdown-menu.alt-dropdown(role = "menu")
  
p
  strong Format:
.dropdown
  .select.select-format(data-toggle = "dropdown")
  ul.dropdown-menu.format-dropdown(role = "menu")
    li
      a.select-format-dropdown-item(data-format="xy") Pokebank XY
    li
      a.select-format-dropdown-item(data-format="bw") Pokemon BW

p
  strong Select a team:
.dropdown
  .select.select-team(data-toggle = "dropdown")
    strong Your team
  ul.dropdown-menu.team-dropdown(role = "menu")

p
  strong Clauses:
ul.challenge_clauses.well
  for value, clause in window.Conditions
    - var checked = (defaultClauses.indexOf(value) >= 0)
    li
      label
        input(type = "checkbox", value = value, checked = checked)
        |  #{window.HumanizedConditions[clause]}
