p Format:
.dropdown
  .select.select-format(data-toggle = "dropdown")
  ul.dropdown-menu.format-dropdown(role = "menu")
    li
      a.select-format-dropdown-item(data-format="xy") Pokebank XY
    li
      a.select-format-dropdown-item(data-format="bw") Pokemon BW
p Select a team:
.dropdown
  .select.select-team(data-toggle = "dropdown")
    | Your team
  ul.dropdown-menu.team-dropdown(role = "menu")
