.popup(data-user-id=user.id)
  .title
    .title_name
      span.icon.icon-bubbles
      |  #{user.get('name')}
    .title_buttons
      .title_button.title_minimize
        .icon.icon-minus
      .title_button.title_close
        .icon.icon-close
  .popup_body
    .popup_menu.clearfix
      .popup_menu_button.challenge_button Challenge
      a.popup_menu_button.grey(href = user.profileUrl(), target = "_blank") See profile
    .challenge.hidden
    .popup_messages
    .chat_input_pane
      .chat_input_wrapper
        input.chat_input(type = 'text', placeholder = "Send a message...")
