.spinner
  .spinner-container.container1
    .circle1
    .circle2
    .circle3
    .circle4
  .spinner-container.container2
    .circle1
    .circle2
    .circle3
    .circle4
  .spinner-container.container3
    .circle1
    .circle2
    .circle3
    .circle4
