.teambuilder
  .display_pokemon
    .team_meta
      .team_name
      input.team_input.hidden(type = "text")
      .team_meta_buttons
        .button.button-primary.save_team.disabled Save
        .button.import_team Import
        .button.go_back Back
    .navigation
      ul.pokemon_list
      .nav-button.add_pokemon + Add Pokemon
    .pokemon_edit
  .display_teams
