.team_icons.clearfix
  each pokemon, i in team
    - var name = pokemon.name || pokemon.get('name')
    - var forme = pokemon.forme || pokemon.get('forme')
    - var style = window.PokemonIconBackground(name, forme)
    .left.pokemon_icon(data-index = i, style = style)
